@import '@_styles/typos';
@import '@_styles/colors';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.inputForm {
  display: flex;
  flex-direction: column;
}

.question {
  @include body2;
  margin-top: 20px;
  cursor: default;
}

.link {
  @include body2;
  margin-left: 8px;
  text-decoration: underline;
  color: $link;
  background-color: $white;
  border: none;
  cursor: pointer;
}
