@import '@_styles/typos';
@import '@_styles/colors';

.customNotiBg {
  background-color: $red_10;
}

.listBox {
  margin: 0 auto;
  padding: 60px 0;
  max-width: 1200px;
}

.listTitle {
  @include h1;
}

.cardWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 14px;
  margin-top: 32px;
}

.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  @include button1;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.sort {
  background-color: $gray_10;
}

.filter {
  background-color: $red_30;
  color: $white;
}

.paginationBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
