$black: #111322;
$gray_50: #7d7986;
$gray_40: #a4a1aa;
$gray_30: #cbc9cf;
$gray_20: #e5e4e7;
$gray_10: #f2f2f3;
$gray_5: #fafafa;
$white: #ffffff;

$red_40: #f33636;
$red_30: #ff7171;
$red_20: #ffc3c3;
$red_10: #ffeaea;

$blue_20: #0080ff;
$blue_10: #cce6ff;

$kakao: #fee500;
