@import '@_styles/colors';
@import '@_styles/typos';

.existingProfile {
  @include body2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  padding: 60px 0px;
}

.title {
  width: 34%;
  @include h1;
}

.userCard {
  display: flex;
  justify-content: space-between;
  width: 68%;
  height: 268px;
  padding: 32px;

  border-radius: 12px;
  background-color: $red_10;
}

.user {
  margin-bottom: 25px;
}

.subTitle {
  @include h4;
  color: $red_40;

  margin-bottom: 12px;
}

.userName {
  @include h1;
}

.detailInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  & > span {
    margin-left: 6px;
    color: $gray_50;
  }
}

.comment {
  padding: 16px 0px;
}

.editBtn {
  width: 30%;
  height: 50px;

  border: none;
  border-radius: 6px;
  background-color: $red_40;
  color: $white;
  @include h4;

  cursor: pointer;
}

.lowerBox {
  background-color: $gray_5;
  margin: 0 auto;
}

.lowerContainer {
  max-width: 1200px;
  margin: 0 auto;

  padding: 60px 0px;
}

.lowerTitle {
  @include h1;
  width: 100%;
  margin-bottom: 32px;
}
