@import '@_styles/colors';
@import '@_styles/typos';

.container {
  @include body2;
  position: relative;
  background-color: $gray_5;
  line-height: 1.5;
}

.topOfDetail {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 736px;
  margin: 0 auto;
  padding: 60px 0px 60px 0px;
}

.title {
  width: 100%;
}

.category {
  @include h4;
  color: $red_40;

  margin-bottom: 8px;
}

.storeName {
  @include h1;
  color: $black;
}

.storeDescription {
  width: 100%;
  padding: 32px;

  border-radius: 12px;

  background-color: $gray_10;
}

.descriptionTitle {
  margin-bottom: 8px;

  @include h4;
  color: $black;
}

.shopInfoBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $gray_5;
  height: 100%;
  z-index: 2;
}

.contentWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;
  margin: 0 auto;
  max-width: 1200px;
}

.titleBox {
  @include h1;
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  width: 100%;
}
