@import '@_styles/colors';
@import '@_styles/typos';

.makeStore {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 60px 0px;
}

.form {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-between;

  width: 100%;
  @include h1;
  padding-bottom: 32px;
}

.inputs {
  width: 100%;

  display: grid;
  height: 600px;
  grid-template-columns: 4fr 0.3fr 4fr;
  grid-template-rows: 3fr 3fr 3fr;

  margin-bottom: 32px;
}

.lowerLine {
  grid-column: 1/6;
}

.miniInput {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 60px;
  padding: 0px 24px 0px 24px;

  border-radius: 6px;
  border: 1px solid $gray_30;

  @include body2;
}

.innerInput {
  width: 96%;
  border: none;

  @include body2;
}

.selectBox {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 60px;
  // padding: 0px 24px 0px 24px;

  border-radius: 6px;
  // border: 1px solid $gray_30;

  @include body2;
  color: $gray_50;

  line-height: 60px;
}

.subTitle {
  @include body2;
  margin-bottom: 8px;
}

.comments {
  width: 100%;
  height: 239px;
  padding: 16px 24px 16px 24px;

  border-radius: 6px;
  border: 1px solid $gray_30;

  resize: none;

  @include body2;
}

.imageInputBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 348px;

  background-color: $gray_10;

  border: 1px solid $gray_30;
  border-radius: 5px;

  cursor: pointer;
}

.imageLabel {
  margin-top: 10px;

  @include body3;
  color: $gray_50;
}

.imageInput {
  display: none;
}

.message {
  margin-top: 10px;
}

.moreText {
  margin-top: 26px;
}

.submitBtn {
  width: 30%;
  height: 50px;

  margin: 0 auto;

  border: none;
  border-radius: 6px;
  background-color: $red_40;
  color: $white;
  @include h4;

  cursor: pointer;
}
