@import '@_styles/colors';

.nav {
  display: grid;
  grid-template-columns: 1.5fr 5fr 1.5fr;
  place-items: center;
  padding: 15px;
  margin: 0 auto;
  max-width: 1200px;
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: $gray_10;
}

.searchInput {
  background-color: inherit;
  border: none;
}

.actionBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
